*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: aqua;
    width: 100%;
    padding: 100px;
}

main{
    background-color: blue;
    width: 70%;
    padding: 100px;
    float: left;
}

article{
    background-color: black;
    width: 100%;
    padding: 25px;
}

#ataque-hacker{
    color: white;
    font-size: 15px;
}

#ataque-hacker h1{
    background-color: gray;
    font-size: 17px;
    margin-bottom: 8px;
}

#ataque-hacker h2{
    font-size: 17px;
    margin-bottom: 5px;
}

button{
    float: right;
}

#ataque-hacker h3{
    margin-top: 25px;
    font-size: 17px;
}

#ataque-hacker ul{
    margin-left: 8px;
    margin-top: 8px;
}

aside{
    background-color: yellow;
    width: 30%;
    padding: 100px;
    float: left;
}

footer{
    background-color: brown;
    width: 100%;
    float: left;
    padding: 100px;
}

