*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
    width: 100%;
    padding: 100px;
}

main{
    background-color: white;
    width: 70%;
    padding: 30px;
    float: left;
}

article{
    background-color: white;
    width: 100%;
    padding: 25px;
}


.destaque{
    width: 100%;
    background-color: rgb(130, 130, 130);
}
#ataque-hacker{
    color: white;
    font-size: 15px;
}

#ataque-hacker h1{
    background-color: gray;
    font-size: 17px;
    margin-bottom: 8px;
}

#ataque-hacker h2{
    font-size: 17px;
    margin-bottom: 5px;
}

button{
    float: right;
}

#ataque-hacker h3{
    margin-top: 25px;
    font-size: 17px;
}

#ataque-hacker ul{
    margin-left: 8px;
    margin-top: 8px;
}

.box{
    width: 49%;
    background-color: rgb(130,130,130);
    padding: 10px;
}



aside{
    background-color: white;
    width: 30%;
    padding: 100px;
    float: left;
}

footer{
    background-color: brown;
    width: 100%;
    padding: 100px;
}

.content-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0 0;
}

.clear{
    clear: both;
}

.destaque h1{
    width: 100%;
    padding: 10px 0 10px 10px;
    background-color: rgb(30,30,30);
    color: white;
}

.wraper-all{
    width: 100%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.destaque img{
    display: inline-block;
    max-width: 25%;
    width: 100%;
}

.content-single-destaque{
    display: inline-block;
    width: 60%;
}

.content-single-destaque h2{
    color: white;
    font-size: 20px;
}

.content-single-destaque p{
    font-size: 15px;
    color: rgb(255, 255, 255);
    line-height: 24px;
}

.button-box{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: end;
}

.box h1{
    background-color: black;
    color: white;
    text-align: center;
}

.box h2{
    margin-top: 8px;
    margin-bottom: 8px;
}

.box p{
    color: white;
}

.box ul{
    margin-left: 15px;
    font-weight: bold;
}